# Copy this file to .env and fill in your values
PORT=5001
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/aura-youth?appName=backend
JWT_SECRET=your-secret-key-here
NODE_ENV=development
